*{
  margin: 0;
}

.App{
  background-color: #fafafa;
}

.app__posts{
  margin: auto;
  width: 40%;
  padding: 10px;
}

.app__header{
  border-bottom: 1px solid lightgray;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 809px) {
  .app__posts{
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  }
@media screen and (max-width: 575px) {
.app__posts{
  margin: auto;
  width: 100%;
  padding: 10px;
}
}