*{
  margin: 0;
}

.App{
  background-color: #fafafa;
  height: 100vh;
}
.app__headerImage{
  padding: 20px;
  object-fit: contain;
}

.app__header{
  border-bottom: 1px solid lightgray;
  background-color: white;
}